.row {
	display: flex;
}

.column {
	flex: 50%;
}

#title {
  font-size: 25px;
}

header {
  font-size: 30px;
}

.main-section header {
	font-size: 20px;
}

h2 {
	font-size: 24px;
  font-family: sans-serif;
}

#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  float: left;
}